{% extends "base.html" %}

{% load socialaccount %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mb-5">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2>{% trans "Sign Up" %}</h2>

      <p>{% blocktrans %}
        Welcome back to the <strong class="brand-name"><span class="red-o">Simple</span>Spoon</span></strong>.
        Do you already have an account? Then please
        <a class="link" href="{{ login_url }}">sign in</a>
        instead.
      {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2 ">
      <form class="signup" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">
          {% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3> Or </h3>
      <a href="{% provider_login_url 'google' %}" style="text-decoration: none;">
        <button type="button" class="btn btn-outline-primary d-flex align-items-center" style="background-color: white; color: black">
          <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" 
          style="width:20px; height:20px; margin-right:8px;">
          Continue with Google
        </button>
      </a>
    </div>
</div>

{% endblock %}


