{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Our Chefs</h1>
    <div class="row justify-content-center">
        {% for chef in chefs %}
        <div class="col-md-6 col-lg-2 text-center mt-5">
            <a class="decoration-none" href="{% url 'chef_detail' chef.slug %}">
                {% if chef.photo_small %}
                <img src="{{ chef.photo_small.url }}" alt="{{ chef.user.get_full_name }}" class="img-fluid img-circle"
                    width="160" height="160">
                {% else %}
                <img src="{% static 'images/default_chef_small.jpg' %}" alt="{{ chef.user.get_full_name }}"
                    class="img-fluid img-circle" width="160" height="160">
                {% endif %}
                <p class="chef-name">{{ chef.name }}</p>
            </a>
        </div>
        {% if forloop.counter|divisibleby:5 and not forloop.last %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block copyright %}
    Made by CCRS Solutions&copy; 2025
{% endblock %}