{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ chef.user.get_full_name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="{{ chef.photo_large.url }}" alt="{{ chef.user.get_full_name }}" class="img-fluid" width="300"
                height="300">
        </div>
        <div class="col-md-9">
            <p>{{ chef.bio }}</p>
            <p>Last updated on: {{ chef.updated_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <h2>Recipes</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4">
        {% for recipe in recipes %}
            {% include 'recipes/card.html' %}
        {% endfor %}
    </div>
</div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('.favorite-icon').forEach(function (icon) {
                    icon.addEventListener('click', function () {
                        var recipeId = this.getAttribute('data-recipe-id');
                        var iconElement = this;
                        fetch(`/recipes/toggle_favorite/${recipeId}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({})
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.is_favorite) {
                                    iconElement.classList.remove('far');
                                    iconElement.classList.add('fas');
                                } else {
                                    iconElement.classList.remove('fas');
                                    iconElement.classList.add('far');
                                }
                            });
                    });
                });
            });
        </script>
        {% endblock %}