{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ chef.user.get_full_name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span>{{ chef.photo_large.url }}</span>
            <img src="{{ chef.photo_large.url }}" alt="{{ chef.user.get_full_name }}" class="img-fluid" width="300"
                height="300">
        </div>
        <div class="col-md-9">
            <p>{{ chef.bio }}</p>
            <p>Last updated on: {{ chef.updated_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <h2>Recipes</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4">
        {% for recipe in recipes %}
            {% include 'recipes/card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block copyright %}
    Made by CCRS Solutions&copy; 2025
{% endblock %}

{% block extras %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock extras %}
      