{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">
      <!-- Recipe title -->
      <h1>{{ recipe.title }}</h1>
      <span>Recipe by
        <strong>
          <a href="{% url 'chef_detail' slug=recipe.chef.slug %}">
            {{ recipe.chef }}
          </a>
        </strong>
      </span>
      <span class="posted">Posted on {{recipe.created_on|date:"F d, Y"}}</span>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col col-md-8">
      <!-- Image -->
      <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">

      <!-- <strong class="text-secondary">
        <i class="far fa-comments"></i> <a href="#comments-section">see {{ comment_count }} comments</a>
        <i class="fa-heart fa-lg comment-icon favorite-icon {% if user in recipe.favorites.all %}fas{% else %}far{% endif %}"
        data-recipe-id="{{ recipe.id }}" style="cursor: pointer;"></i>
      </strong>  
      <div class="star-rating">
        {% for i in 5|range_filter %}
            {% if i < recipe.average_rating %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
        {% endfor %}
    </div>  -->
      <!-- <div class="star-rating">
        <form method="post" action="{% url 'recipe_detail' recipe.slug %}">
            {% csrf_token %}
            <span class="fa fa-star" data-rating="1"></span>
            <span class="fa fa-star" data-rating="2"></span>
            <span class="fa fa-star" data-rating="3"></span>
            <span class="fa fa-star" data-rating="4"></span>
            <span class="fa fa-star" data-rating="5"></span>
            <input type="hidden" name="score" class="rating-value" value="0">
            <button type="submit" class="btn btn-primary">Rate</button>
        </form>
    </div>
    <p>Average Rating: {{ recipe.average_rating }}</p> -->

    </div>
    <div class="col col-md-4">
      <div class="recipe-info">
        <p>Recipe Info</p>
        <ul>
          <li><i class="fa-solid fa-utensils"></i> <span>Difficulty: <strong>{{ recipe.get_difficulty_display }}</strong></span></li>
          <li><i class="fa-regular fa-clock"></i> <span>Prep time: <strong>{{ recipe.prep_time }}</strong></span></li>
          <li><span><i class="fa-solid fa-blender"></i> Cook time: <strong>{{ recipe.cook_time }}</strong></span></li>
            <li><span><i class="fa-solid fa-martini-glass-citrus"></i>  Serving: <strong>{{ recipe.servings }}</strong></span></li>
        </ul>
      </div>
      <div class="star-rating-total recipe-info"> 
        
        <!-- { % for i in 1|range_filter:6 % }
            { % if i <= recipe.average_rating % }
                <span class="fa fa-star fa-2x checked"></span>
            { % else % }
                <span class="fa fa-star fa-2x"></span>
             { % endif % }
        { % endfor % } -->
    </div>
      <div class="recipe-info">
        <i class="far fa-comments"></i> <a href="#comments-section">see {{ comment_count }} comments</a>
      </div>
      <div class="recipe-info  mt-4">
        Rating {{recipe.average_rating}} <span class="fa fa-star fs-6 checked star-rating-total"></span>
        <div class="recipe-info  mt-4">
        </div>
        Saved <span class="fa-heart fs-5 comment-icon favorite-icon {% if user in recipe.favorites.all %}fas{% else %}far{% endif %}"
          data-recipe-id="{{ recipe.id }}" style="cursor: pointer;"></span> 
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col col-md-8">
      <!-- Description -->
      <h2>Presentation</h2>
      {{ recipe.description | safe }}
    </div>
  </div>
  <div class="row mb-4">
    <div class="col col-md-8">
      <h2>Ingredients</h2>
      {{ recipe.ingredients | safe }}
    </div>
  </div>
  <div class="row mb-4">
    <div class="col col-md-8">
      <h2>Preparation</h2>
      {{ recipe.steps | safe }}
    </div>
  </div>
  <!-- <div class="row">
    <div class="col col-md-4">
      <p>
      <h2>Preparation</h2>
      {{ recipe.steps | safe }}
    </p>
    </div>    
  </div> -->
  <div class="row mb-4">
    <div class="col col-md-8">
      <h2 id="comments-section">Comments</h2>
      <!-- <div id="comments-list"> -->
      {% if comments %}
        {% for comment in comments %}
          <div class="comment">
            <strong>{{comment.author}}</strong>
            <div id="comment{{ comment.id }}">
              {{ comment.body | linebreaks }}
            </div>
            <span class="posted">{{ comment.created_on }}</span>
            {% if user.is_authenticated and comment.author == user %}
              <div style="text-align: right;">
                <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
              </div>
            {% endif %}
          </div>      
        {% endfor %}
      {% else %}
        <p>No comments yet.</p>
      {% endif %}
    </div>

    <div class="col col-md-4">
      <div class="card-body star-rating">
        {% if user.is_authenticated %}
        <h3>Rate this recipe</h3>
        <form method="post" action="{% url 'recipe_detail' recipe.slug %}">
          {% csrf_token %}
          <button type="submit" class="btn red-o btn-sm">Rate</button>
          <span class="fa fa-star fa-lg" data-rating="1"></span>
          <span class="fa fa-star fa-lg" data-rating="2"></span>
          <span class="fa fa-star fa-lg" data-rating="3"></span>
          <span class="fa fa-star fa-lg" data-rating="4"></span>
          <span class="fa fa-star fa-lg" data-rating="5"></span>
          <input type="hidden" name="score" class="rating-value" value="0">

        </form>
        {% endif %}
      </div>
      <!-- <p>Average Rating: {{ recipe.average_rating }}</p> -->
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn  btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
          href="{% url 'account_login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- Creating New Comments -->

  <!-- Delete confirmation modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your comment?
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.favorite-icon').forEach(function (icon) {
      icon.addEventListener('click', function () {
        var recipeId = this.getAttribute('data-recipe-id');
        var iconElement = this;
        fetch(`/recipes/toggle_favorite/${recipeId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({})
        })
          .then(response => response.json())
          .then(data => {
            if (data.is_favorite) {
              iconElement.classList.remove('far');
              iconElement.classList.add('fas');
            } else {
              iconElement.classList.remove('fas');
              iconElement.classList.add('far');
            }
          });
      });
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const stars = document.querySelectorAll('.star-rating .fa-star');
    const ratingValue = document.querySelector('.rating-value');

    stars.forEach(star => {
      star.addEventListener('click', function () {
        const rating = this.getAttribute('data-rating');
        ratingValue.value = rating;

        stars.forEach(s => {
          s.classList.remove('checked');
        });

        for (let i = 0; i < rating; i++) {
          stars[i].classList.add('checked');
        }
      });
    });
  });
</script>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}