{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- recipe title goes in these h1 tags -->
                <h1 class="recipe-title">{{ recipe.title }}</h1>
                <!-- recipe author goes before the | the recipe's created date goes after -->
                <p class="recipe-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The recipe content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">                    
                    {{ recipe.description | safe }}
                </p>
                <p class="card-text">
                    <h2 class="recipe-title">ingredients</h2>
                    {{ recipe.ingredients | safe }}
                </p>
                <p class="card-text">
                    <h2 class="recipe-title">Method</h2>
                    {{ recipe.steps | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}