
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-bold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 800; /* Bold weight */
  font-style: normal;
}

h1 {
    font-family: "Montserrat", serif;    
    font-weight: 800; 
    color: rgb(78, 57, 105);
}

h2 {
    font-family: "Montserrat", serif;    
    font-weight: 500; 
    font-size: 1.5rem;
    color: rgb(78, 57, 105);
    text-transform: uppercase;
    position: relative;
    margin-bottom: 26px;     
}

h3 {
    font-family: "Montserrat", serif;    
    font-weight: 700; 
    font-size: 1.2rem;
    color: rgb(78, 57, 105);
    letter-spacing: -0.5px;
    position: relative;
    margin-bottom: 26px;   
}


h2::before {
    content: "";
    position: absolute;
    bottom: -7px; /* Customizable distance from the base of the text */
    left: 0;
    width: 60px; /* Customizable length of the line */
    height: 4px;
    background-color: orange;    
}

body {
    font-family: "Montserrat", sans-serif;
    /* background-color:rgb(247, 246, 248); */
    background-color:rgb(247, 246, 248);
    color: rgb(47,34,64);
    font-size: 1rem;
    line-height: 1.6;
    
}

  /* .row, [class^="col"] {
    padding: 15px;
    margin: 0px;    
    border: 1px solid rgb(92, 6, 6);   
}   */

.comment {
    padding: 15px 4px 15px 4px;
    margin-bottom: 15px;    
    /* border: 1px solid gray;    */
    border-bottom: 1px solid rgb(47, 34, 64);
}

.comment strong {
    text-transform: uppercase;
}

.comment-icon {
    color: rgb(255, 66, 0); /* Altere #ff0000 para a cor desejada */
}

.card {
    width: 100%;
    height: 100%;
  }
  
.card-body{
    width: 100%;
    /* height: 100px; */
  }



.section-dark { 
    background-color: rgb(247,246,248);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.posted {
    /* font-family: "Montserrat", sans-serif;
    background-color: rgb(247, 246, 248);
    color: rgb(47, 34, 64);
    line-height: 1.6; */
    font-size: 0.8rem; /* Different font size */
}



/* fim do meu, daqui para baixo e o que ja tinha no sistema  */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #753822;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #753822;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}