<!-- filepath: /c:/GitHub/MyRecipeBook/recipes/templates/under_construction.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
</head>


<body>
    <style>
        body {
            background-image: url('/static/images/brooke-lark-08bOYnH_r_E-unsplash.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
    <div style="text-align: center; margin-top: 170px;">
        <div style="width: 50%; margin-left: auto; text-align: left; padding-right: 20px;">
            <h1 style="font-size: 3em; color: #333;">We're Building Something Great!</h1>
            <p style="font-size: 1.5em; color: #666;">Our website is currently under construction. We'll be here soon with our new awesome site. Stay tuned!</p>
        </div>
    </div>  
</body>
</html>